@charset "UTF-8";

@use 'partials/reset';
@use 'partials/breakpoints';
@use 'partials/variables' as *;
@use 'partials/mixins';
@use 'partials/animations';
@use 'partials/text';
@use 'partials/header';
