@charset "UTF-8";

@use 'partials/reset';
@use 'partials/breakpoints';
@use 'partials/variables' as *;
@use 'partials/mixins';
@use 'partials/animations';
@use 'partials/text';
@use 'partials/header';
@use 'partials/timers';


html, body {
  margin: 0;
  height: calc(var(--vh) * 100);
}

body {
  background-color: $background_colour;
  color: $text_colour;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 250;
  position: relative;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// Rate Strong Race styles
body.rsr-style {

  .timer {
    border-color: $secondary_alt_colour;

    label {
      color: $secondary_alt_colour;
    }
  }
}

main {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}