/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  text-align: center;
  padding-top: 1em;
}
header #logo {
  height: 150px;
  width: 300px;
  background: center center no-repeat;
  background-size: contain;
  margin: 0 auto;
}
header button {
  background: transparent;
  border: none;
  font-size: 4em;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  transition: opacity 0.5s;
}
header button:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

body.fit316-style header #logo {
  background-image: url(../img/fit316-logo.png);
}

body.rsr-style header #logo {
  background-image: url(../img/rate-strong-race-logo.jpeg);
  height: 150px;
}

#timer-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0;
  flex-wrap: wrap;
  flex-direction: row;
}

.timer {
  display: block;
  position: relative;
  width: 50%;
  padding: 2.2em 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #eabd1a;
}
.timer:first-child {
  width: 100%;
  font-size: 1.3em;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
.timer:nth-child(2n) {
  border-right-width: 3px;
  border-right-style: solid;
}
.timer:nth-child(even):last-child {
  border-left-width: 3px;
  border-left-style: solid;
}
.timer button.close {
  background: transparent;
  border: none;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.timer button.close:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
.timer label {
  display: block;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 5em;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eabd1a;
}
.timer label:hover {
  outline: #ffffff solid 1px;
}
.timer .time {
  font-size: 6em;
  margin: 0.75rem 0;
  cursor: pointer;
  font-family: "Consolas", "Menlo", monospace;
  padding-left: 1.15em;
}
.timer .hours:after, .timer .minutes:after {
  content: ":";
}
.timer .seconds:after {
  content: ".";
  opacity: 0.5;
  font-size: 0.65em;
}
.timer .milliseconds {
  opacity: 0.5;
  font-size: 0.65em;
}

html, body {
  margin: 0;
  height: calc(var(--vh) * 100);
}

body {
  background-color: #191919;
  color: #ffffff;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 250;
  position: relative;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body.rsr-style .timer {
  border-color: #f1d61c;
}
body.rsr-style .timer label {
  color: #f1d61c;
}

main {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

/*# sourceMappingURL=app.css.map */
