@use 'variables' as *;

header {
  text-align: center;
  padding-top: 1em;

  #logo {
    height: 150px;
    width: 300px;
    background: center center no-repeat;
    background-size: contain;
    margin: 0 auto;
  }

  button {
    background: transparent;
    border: none;
    font-size: 4em;
    color: $text_colour;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}

body.fit316-style header #logo {
  background-image: url(../img/fit316-logo.png);
}

body.rsr-style header #logo {
  background-image: url(../img/rate-strong-race-logo.jpeg);
  height: 150px;
}