@use 'variables' as *;

#timer-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
  gap: 0;
  flex-wrap: wrap;
  flex-direction: row;
}

.timer {
  display: block;
  position: relative;
  width: calc(50%);
  padding: 2.2em 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: $secondary_colour;

  &:first-child {
    width: 100%;
    font-size: 1.3em;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

  &:nth-child(2n) {
    border-right-width: 3px;
    border-right-style: solid;
  }


  //&:nth-last-child(2n+1):last-child {
  //  border-right-width: 3px;
  //  border-right-style: solid;
  //  border-left-width: 3px;
  //  border-left-style: solid;
  //}

  &:nth-child(even):last-child {
    //border-left: none;
    //border-right: none;
    border-left-width: 3px;
    border-left-style: solid;
  }



  button.close {
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: $text_colour;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0.3;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  label {
    display: block;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 5em;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $secondary_colour;

    &:hover {
      outline: $primary_contrast_colour solid 1px;
    }
  }

  .time {
    font-size: 6em;
    margin: 0.75rem 0;
    cursor: pointer;
    font-family: "Consolas", "Menlo", monospace;
    padding-left: 1.15em;
  }
  .hours, .minutes {

    &:after {
      content: ":";
    }
  }
  .seconds:after {
    content: ".";
    opacity: 0.5;
    font-size: 0.65em;
  }
  .milliseconds {
    opacity: 0.5;
    font-size: 0.65em;
  }
}