@use 'variables' as *;

#timer-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: row;
}

#master-timer {
  width: 100%;
  border: none;
  flex-grow: 2;
  padding: 1em;
  align-content: center;

  .time {
    font-size: 7em;
  }
}

.timer {
  display: block;
  position: relative;
  padding: 3em 1em 1em 1em;
  border: 1px dotted darken($primary_contrast_colour, 50);
  width: calc(25% - 2px - 3em);
  margin: 1em;

  button.close {
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: $text_colour;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0.3;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  label {
    display: block;
    font-size: 4em;
    margin-bottom:0.5em;
    text-transform: uppercase;

    &:hover {
      outline: $primary_contrast_colour solid 1px;
    }
  }

  .time {
    font-size: 5em;
    margin: 0.75rem 0;
    cursor: pointer;
  }
  .hours, .minutes {

    &:after {
      content: ":";
    }
  }
  .seconds:after {
    content: ".";
  }
  .milliseconds {
    opacity: 0.5;
  }
}