$primary_colour: #191919;
$primary_contrast_colour: #ffffff;

$secondary_colour: #eabd1a;
$secondary_alt_colour: #f1d61c;

$background_colour: #191919;
$background_alt_colour: #606060;

$text_colour: #ffffff;
$text_alt_colour: #ffffff;

$success_colour: #1C7554;
$error_colour: #910d29;

$border-radius: 7px;
