$primary_colour: #191919;
$primary_contrast_colour: #ffffff;

$secondary_colour: #eabd1a;

$background_colour: #191919;
$background_alt_colour: #606060;

$text_color: #ffffff;
$text_alt_color: #ffffff;

$success_colour: #1C7554;
$error_colour: #910d29;

$border-radius: 7px;
